@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Pastikan container mengambil tinggi penuh dari sel */
}
.loading-spinner {
  animation: spin 1s linear infinite;
  font-size: 5rem;
  margin-bottom: 9rem;
  margin-top: 9rem;
  color: #1e3b8b;
}

.submit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.unique-loading-btn .submit {
  animation: unique-spin 1s linear infinite;
}
@keyframes unique-spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
